@use '@/scss/forwards' as *;

.button {
  position: relative;
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 24px rgba($color-dark-4, 0.5), 0 2px 4px rgba($color-dark-4, 0.5);
  backdrop-filter: blur(10px);
  background-color: rgba($color-dark-1, 0.5);
  z-index: 0;

  &:is(button) {
    cursor: pointer;
  }

  svg {
    filter: drop-shadow(0 1px rgba($color-dark-2, 0.5));
  }

  &::after,
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: rotate(-20deg);
    border-radius: inherit;
  }

  &::after {
    box-shadow: inset 0 -5px 5px rgba($color-dark-4, 0.1);
  }

  &::before {
    box-shadow: inset 0 1px 1px rgba($color-white, 0.4);
  }
}
