@use '@/scss/forwards' as *;

// Layout

.section {
  @include section-center;
  text-align: center;
}

.container {
  height: auto;
}

// Content

.title {
  @include font-heading-120;
}

.subtitle {
  color: $color-grey-4;
}
