@use 'sass:color';
@use '@/scss/forwards' as *;

.image {
  width: 100%;
  position: relative;
  aspect-ratio: var(--aspect, 'auto');
  background-color: color.adjust($color-dark-2, $lightness: -5%);

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.caption {
  position: absolute;
  left: 16px;
  bottom: 16px;
}
