@use '@/scss/forwards' as *;

// Layout

.section {
  position: relative;
  @include section($height: auto);
}

.background {
  position: absolute;
  top: 0;
  left: $page-padding-x;
  right: $page-padding-x;
  bottom: 0;
  z-index: -1;
  border-radius: 8rem;
  background-color: $color-grey-0;
  pointer-events: none;
}

.container {
  z-index: 0;
}

.project {
  height: 300dvh;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100dvh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  .inner {
    width: 100%;
    position: relative;
  }
}

.content {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 200dvh;
  align-items: flex-start;
  @include grid;
}

// Content

.title {
  color: var(--accent);
  @include font-heading-120;
}

.subtitle,
.suptitle {
  position: absolute;
  left: 0;
  right: 0;
  color: rgba($color-white, 0.7);
}

.suptitle {
  bottom: 100%;
  margin-bottom: 2.4rem;
  color: $color-white;
  font-size: 2rem;
  font-family: $font-bebas;
  letter-spacing: 0.25em;
}

.subtitle {
  top: 100%;
  margin-top: 1.2rem;
}

.image {
  grid-row: 1 / span 1;

  &:nth-child(1) {
    @include grid-column-span(4);
    @include grid-column-start(1);
  }

  &:nth-child(2) {
    margin-top: 50dvh;
    @include grid-column-span(4);
    @include grid-column-start(9);
  }

  &:nth-child(3) {
    margin-top: 100dvh;
    @include grid-column-span(4);
    @include grid-column-start(2);
  }

  &:nth-child(4) {
    margin-top: 150dvh;
    @include grid-column-span(4);
    @include grid-column-start(8);
  }
}
