@use '@/scss/forwards' as *;

// Layout

.header {
  position: fixed;
  top: 1rem;
  left: $page-padding-x;
  right: $page-padding-x;
  z-index: 10;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

// Content

.logo,
.button {
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.logo {
  img {
    display: block;
    height: 16px;
  }
}

.icon {
  gap: 4px;
  display: inline-flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;

  .line {
    width: 18px;
    height: 2px;
    border-radius: 2px;
    background-color: $color-white;
    box-shadow: 0 1px rgba($color-grey-8, 0.2);
  }
}

.button {
  width: 48px;
  height: 48px;
}
