@use '@/scss/forwards' as *;

// Layout

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: $page-padding-x;
  padding-right: $page-padding-x;
  // border-radius: 6px;
  background-color: rgba($color-white, 0.7);
  // box-shadow: 0 0 2.4rem rgba($color-grey-4, 0.15);
  backdrop-filter: blur(10px);
}

// Content

.text {
  font-size: 13px;
  font-family: 'Source Code Pro', monospace;
}

.logo {
  display: block;
  height: 14px;
}
