@use '@/scss/forwards' as *;

// Layout

.modal {
  position: fixed;
  inset: 0;
  z-index: 90;
  display: flex;
  place-content: center;
  flex-direction: column;
}

.content {
  position: relative;
  z-index: 1;
  max-width: 64rem;
  margin: 0 auto;
}

.background {
  position: absolute;
  inset: 0;
  z-index: 0;
  background-color: rgba($color-dark-4, 0.9);
}

// Content

.title {
  text-align: center;
  margin-bottom: 1.5rem;
  @include font-heading-24;
}

.code {
  padding: 2rem;
  border-radius: 1rem;
  background-color: $color-dark-2;

  svg {
    fill: $color-white;
  }
}

.text {
  font-size: 1.4rem;
  text-align: center;
  margin-top: 1.5rem;
}
