@use 'sass:color';
@use '@/scss/forwards' as *;

// Layout

.section {
  @include section($height: 200dvh);
}

.container {
  position: sticky;
  top: 0;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.slider {
  position: relative;
  width: 400px;
  height: 600px;
  margin: 0 auto;
  transform-origin: 50% 100%;

  .roller {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150dvh;
    z-index: -1;
    transform: translate(-50%, -50%);
    aspect-ratio: 1 / 1;
    background-image: radial-gradient(circle at 50% 50%, rgba($color-purple-3, 0.3) 0%, transparent 70%);
  }
}

// Content

.model {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: inline-flex;
  box-shadow: 0 0 80px rgba($color-black, 0.3), 0 10px 20px rgba($color-black, 0.15);
  border: 1px solid rgba($color-purple-2, 0.1);
  border-radius: 20px;
  background-color: $color-dark-4;
  background-image: radial-gradient(circle at 50% 100%, rgba($color-purple-3, 0.1) 0%, transparent 80%);
  transform-origin: 50% 200%;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.3;
    pointer-events: none;
    background-image: url('/images/noise-white.png');
    background-position: 50% 50%;
    background-repeat: repeat;
    background-size: 150px auto;
  }

  .inner {
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
    margin: 20px;
    padding: 25px;

    .star,
    .border {
      z-index: 1;
      position: absolute;
      pointer-events: none;
    }

    .border {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .shape {
      fill: rgba($color-purple-1, 0.4);
    }

    .star {
      fill: none;
      stroke: rgba($color-purple-1, 0.6);
      stroke-width: 1px;
    }
  }

  .image {
    width: 100%;
    z-index: 0;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.4rem;
    background-color: $color-dark-3;
    aspect-ratio: 4 / 3;
    margin-bottom: 3rem;

    .corner {
      position: absolute;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: $color-dark-4;

      &:nth-child(1) {
        top: -25px;
        left: -25px;
      }

      &:nth-child(2) {
        top: -25px;
        right: -25px;
      }
    }

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      pointer-events: none;
      mask-image: radial-gradient(circle at 50% 50%, $color-black 20%, transparent 90%);
      background-image: repeating-linear-gradient(
          0deg,
          rgba($color-purple-1, 0.1) 0px,
          rgba($color-purple-1, 0.1) 1px,
          transparent 1px,
          transparent 24px
        ),
        repeating-linear-gradient(
          90deg,
          rgba($color-purple-1, 0.1) 0px,
          rgba($color-purple-1, 0.1) 1px,
          transparent 1px,
          transparent 24px
        );
    }
  }

  .header {
    gap: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;
    padding-bottom: 3rem;

    &::after,
    &::before {
      content: '';
      position: absolute;
    }

    &::after {
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-image: linear-gradient(90deg, transparent 0%, rgba($color-purple-1, 0.4) 50%, transparent 100%);
    }

    .star {
      z-index: 1;
      position: absolute;
      bottom: -13px;
      left: 50%;
      width: 16px;
      height: 16px;
      padding: 5px;
      box-sizing: content-box;
      margin-left: -13px;
      border-radius: 50%;
      background-color: $color-dark-4;
      fill: $color-dark-4;
      stroke: rgba($color-purple-1, 0.6);
      stroke-width: 1px;
    }
  }

  .name,
  .level {
    text-shadow: 0 0 10px $color-dark-4;
    @include font-heading-32;
  }

  .level {
    color: $color-purple-3;

    sub {
      display: inline-block;
      margin-top: 3px;
      margin-right: 5px;
      color: $color-white;
      font-size: 2rem;
      vertical-align: middle;
    }
  }

  .content {
    flex: 1;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3rem;
  }

  .text {
    color: rgba($color-purple-1, 0.6);
    font-size: 16px;
    line-height: 1.4;
  }
}

// Models

.basic,
.better,
.best {
  pointer-events: auto;
}

.basic {
  height: 48px;
  padding: 0 30px;
  font-size: 18px;
}

.better {
  height: 48px;
  padding: 0 30px;
  cursor: pointer;
  border: 0 none;
  outline: none;
  border-radius: 12px;
  background-color: $color-purple-4;
  color: $color-white;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0;
  appearance: none;

  &:hover {
    background-color: $color-purple-3;
  }

  &:active {
    background-color: $color-purple-5;
  }
}

.best {
  position: relative;
  z-index: 0;
  gap: 1rem;
  height: 48px;
  padding: 0 30px;
  cursor: pointer;
  border: 0 none;
  border-radius: 12px;
  background: none;
  appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: $color-white;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.03em;
  text-shadow: 0 2px 0 $color-purple-4;
  transition: transform 0.3s $ease-out-expo;

  &::after,
  &::before {
    inset: 0;
    z-index: 1;
    content: '';
    position: absolute;
    border-radius: inherit;
  }

  &::before {
    content: '';
    z-index: 1;
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background-color: $color-purple-4;
  }

  &::after {
    z-index: 2;
    opacity: 0.5;
    background-image: url('/images/noise-white.png');
    background-position: 50% 50%;
    background-repeat: repeat;
    background-size: 150px auto;
  }

  .label {
    z-index: 3;
    height: 24px;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    position: relative;
    transition: opacity 0.3s $ease-out-expo;

    svg {
      fill: $color-white;
      filter: drop-shadow(0 2px 0 $color-purple-4);
    }

    span {
      gap: 10px;
      width: 100%;
      height: 24px;
      display: inline-flex;
      align-items: center;
    }
  }

  .effect {
    inset: 0;
    position: absolute;
    pointer-events: none;
    border-radius: inherit;
  }

  .glow {
    z-index: -4;
    opacity: 0.5;
    box-shadow: 0 10px 50px $color-purple-4;
    transition: opacity 0.6s $ease-out-sine;
  }

  .light {
    z-index: 2;
    opacity: 0.6;
    background-image: radial-gradient(ellipse at 50% 120%, $color-purple-1 0%, transparent 100%);
    transition: opacity 0.6s $ease-out-sine;
  }

  .shadow {
    z-index: -3;
    box-shadow: 0 2px 10px $color-dark-4;
    transition: all 0.3s $ease-out-expo;
  }

  .outline {
    inset: -1px;
    z-index: -2;
    border: 1px solid rgba($color-purple-1, 0.5);
    border-radius: inherit;
    background-color: $color-purple-4;
  }

  .highlight {
    inset: -1px;
    z-index: 2;
    opacity: 0.9;
    border: 1px solid $color-white;
    box-shadow: inset 0 0 8px $color-white;
    mask-image: linear-gradient(
      var(--angle, 90deg),
      $color-black 0%,
      transparent 25%,
      transparent 75%,
      $color-black 100%
    );
  }

  .particles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    pointer-events: none;

    .particle {
      position: absolute;
      top: 0;
      left: 0;
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      pointer-events: none;
      transform: translate(-50%, -50%);
      will-change: transform, opacity, scale;
    }
  }

  &:hover {
    .glow {
      opacity: 1;
    }

    .light {
      opacity: 0.8;
    }
  }
}
