@use '@/scss/forwards' as *;

// Layout

.section {
  @include section($height: 300dvh);
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include grid;
}

// Content

.timeline {
  position: absolute;
  top: 0;
  left: 50%;
  width: 1.4rem;
  height: 100%;
  z-index: 0;
  display: flex;
  flex-direction: column;
  transform: translateX(-50%);

  .bar {
    position: absolute;
    top: -3rem;
    left: 50%;
    bottom: -3rem;
    width: 0.6rem;
    z-index: -1;
    border-radius: 8px;
    background-color: rgba($color-dark-1, 0.1);
    transform: translateX(-50%);
  }

  .progress {
    width: 100%;
    height: 0;
    border-radius: 8px;
    background-color: rgba($color-dark-1, 0.3);
    will-change: height;
  }

  .date {
    position: relative;
    width: 100%;
    flex: 1;
    display: flex;
    align-self: flex-end;
    align-items: flex-start;
    justify-content: flex-end;
    padding-right: 200%;

    .label,
    .circle {
      transform: translateY(-50%);
    }

    .label {
      @include font-text-14;
    }

    .circle {
      position: absolute;
      top: 0;
      right: 0;
      width: 1.4rem;
      z-index: 0;
      aspect-ratio: 1 / 1;
      border-radius: 50%;

      &::after,
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        aspect-ratio: 1 / 1;
        border-radius: 50%;
      }

      &::after {
        width: 2.8rem;
        z-index: -1;
        opacity: 0;
        background-color: rgba($color-dark-1, 0.3);
        margin-top: -1.4rem;
        margin-left: -1.4rem;
        transform: scale(0.5);
        transition: opacity 0s 0.15s, transform 0.15s $ease-out-expo;
      }

      &::before {
        width: 100%;
        margin-top: -0.7rem;
        margin-left: -0.7rem;
        background-color: $color-dark-1;
      }
    }

    &.active {
      .circle::after {
        opacity: 1;
        transform: scale(1);
        transition: opacity 0s 0s, transform 0.3s cubic-bezier(0, 0.005, 0.015, 1.8);
      }
    }

    &:first-child {
      visibility: hidden;
    }

    &:nth-child(even) {
      padding-left: 200%;
      padding-right: 0;
      align-self: flex-start;
      justify-content: flex-start;

      .circle {
        left: 0;
        right: auto;
      }
    }
  }
}

.roller {
  position: sticky;
  top: 0;
  width: 100%;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .year {
    height: 4.8rem;
  }

  .digits {
    display: flex;
    flex-direction: column;
    @include font-heading-48;

    span {
      display: inline-flex;
      height: 4.8rem;
      align-items: center;
    }
  }
}

.image {
  grid-row: 1;

  figure {
    width: 100%;
  }

  &:nth-child(odd) {
    @include grid-column-span(3);
    @include grid-column-start(3);

    [class*='caption_'] {
      text-align: left;
    }
  }

  &:nth-child(even) {
    @include grid-column-span(3);
    @include grid-column-start(8);

    [class*='caption_'] {
      text-align: right;
    }
  }

  &:nth-child(1) {
    margin-top: 20dvh;
    max-height: 40dvh;

    figure {
      height: 100%;
      aspect-ratio: auto;
    }
  }

  &:nth-child(2) {
    margin-top: 60dvh;
  }

  &:nth-child(3) {
    margin-top: 100dvh;
  }

  &:nth-child(4) {
    margin-top: 140dvh;
  }

  &:nth-child(5) {
    margin-top: 200dvh;
  }

  &:nth-child(6) {
    margin-top: 240dvh;
  }
}
