$material-red: #ff1744;
$material-pink: #e91f64;
$material-purple: #9d27b0;
$material-deep-purple: #683ab8;
$material-indigo: #303f9f;
$material-blue: #1456e5;
$material-light-blue: #4fc3f7;
$material-cyan: #02bcd4;
$material-teal: #029688;
$material-green: #2e7d32;
$material-light-green: #8bc44a;
$material-lime: #cddc39;
$material-yellow: #ffeb3b;
$material-amber: #ffc108;
$material-orange: #ffb74d;
$material-deep-orange: #ff5721;
$material-brown: #795648;
$material-grey: #607e8c;

$white: #fff;
$black: #000;
$grey-0: #f4f4f4;
$grey-1: #d9d9d9;
$grey-2: #bfbfbf;
$grey-3: #a6a6a6;
$grey-4: #8c8c8c;
$grey-5: #404040;
$grey-6: #333333;
$grey-7: #1a1a1a;
$grey-8: #262626;

$dark-1: #6d6e88;
$dark-2: #23232c;
$dark-3: #1a1c22;
$dark-4: #16181d;
