$material-red: #ff1744;
$material-pink: #e91f64;
$material-purple: #9d27b0;
$material-deep-purple: #683ab8;
$material-indigo: #303f9f;
$material-blue: #1976d2;
$material-light-blue: #4fc3f7;
$material-cyan: #02bcd4;
$material-teal: #029688;
$material-green: #2e7d32;
$material-light-green: #8bc44a;
$material-lime: #cddc39;
$material-yellow: #ffeb3b;
$material-amber: #ffc108;
$material-orange: #ffb74d;
$material-deep-orange: #ff5721;
$material-brown: #795648;
$material-grey: #607e8c;

$white: #fff;
$grey-0: #f0f0f0;
$grey-1: #d9d9d9;
$grey-2: #bfbfbf;
$grey-3: #a6a6a6;
$grey-8: #262626;
