$out-sine: cubic-bezier(0.39, 0.575, 0.565, 1);
$out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
$out-expo: cubic-bezier(0.19, 1, 0.22, 1);

$in-sine: cubic-bezier(0.47, 0, 0.745, 0.715);
$in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);

$in-out-sine: cubic-bezier(0.445, 0.05, 0.55, 0.95);
$in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
$in-out-expo: cubic-bezier(1, 0, 0, 1);
