@use './values' as *;

@mixin font($family: $font-inter, $size: 1.6rem, $weight: 400, $line-height: 1, $letter-spacing: 0, $transform: none) {
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  text-transform: $transform;
}

@mixin body {
  @include font;
}

// Headings

@mixin heading-80 {
  @include font($family: $font-bebas, $size: 8rem, $weight: $font-weight-bold, $transform: uppercase);
}

@mixin heading-64 {
  @include font($family: $font-bebas, $size: 6.4rem, $weight: $font-weight-bold, $transform: uppercase);
}

@mixin heading-48 {
  @include font($family: $font-bebas, $size: 4.8rem, $weight: $font-weight-bold, $transform: uppercase);
}

@mixin heading-32 {
  @include font($family: $font-bebas, $size: 3.2rem, $weight: $font-weight-bold, $transform: uppercase);
}

@mixin heading-24 {
  @include font($family: $font-bebas, $size: 2.4rem, $weight: $font-weight-bold, $transform: uppercase);
}

// Texts

@mixin text-14 {
  @include font($family: $font-mono, $size: 1.4rem);
}
