// Typography

$font-mono: 'Source Code Pro', monospace;
$font-inter: 'Inter', serif;
$font-bebas: 'Bebas Neue', serif;

$font-weight-bold: 700;
$font-weight-normal: 400;
$font-weight-medium: 500;

// Spacing

$page-padding-x: 3rem;
$page-padding-y: 3rem;

$grid-gap-x: 2rem;
$grid-gap-y: 2rem;
