// Typography

$font-mono: 'Source Code Pro', monospace;
$font-inter: 'Inter', sans-serif;
$font-bebas: 'Bebas Neue', sans-serif;

$font-weight-bold: 700;
$font-weight-normal: 400;
$font-weight-medium: 500;

// Spacing

$page-padding-x: 30px;
$page-padding-y: 30px;
