@use '@/scss/forwards' as *;

// Layout

.grid {
  align-items: center;
  @include grid;
}

.content {
  @include grid-column-span(8);
  @include grid-column-start(3);
}

// Content

.title {
  text-align: center;
  margin-bottom: 5rem;
  @include font-heading-48;
}
